:root {
    /* COLORS */

    --red: rgb(245, 19, 19);
    --red-p: 245, 19, 19;
    --orange: rgb(245, 128, 19);
    --orange-p: 245, 128, 19;
    --yellow: rgb(245, 186, 19);
    --yellow-p: 245, 186, 19;
    --green: rgb(0, 215, 0);
    --green-p: 19, 245, 23;
    --green-p: 0, 215, 0;

    --blue: rgb(19, 34, 245);
    --blue-p: 19, 34, 245;
    --indigo: rgb(64, 8, 216);
    --indigo-p: 64, 8, 216;
    --violet: rgb(155, 19, 245);
    --violet-p: 155, 19, 245;

    --bg-light: #eee;
    --text-color: black;
    --grey-m: #858585;
    --forest-green-dark: #00100b;
    --forest-green: #002217;
    --forest-green-light: #003726;


    /* --note-bg: #fff;
    --note-shadow-color: #ccc;
    --note-divider-color: #aaa; */
}

/* Dark mode */

:root {
    /* COLORS */

    --bg: #212121;
    --text-color: #eeeeee;
    /* --note-bg: #eee;
    --note-shadow-color: rgba(170, 170, 170, .7); */
}


* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    width: 100%;
    width: 100vw;
    /* color: var(--text-color); */
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;

    /* background: var(--bg); */

    /* background-image:
        linear-gradient(to top, rgba(162, 166, 184, 1) 60%, 85%, transparent); */

    /* background-image: url("https://www.transparenttextures.com/patterns/dark-wall.png"); */
    /* background-image:
        url("https://www.transparenttextures.com/patterns/xv.png"),
    background-size: 25%;
    background-position: center; */
    /* background-repeat: no-repeat;

    background-attachment: fixed; */
}


/* Backgrounds */

.bg.pattern {
    background-image:
        /* url("https://www.transparenttextures.com/patterns/rice-paper-2.png"); */
        url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
    /* linear-gradient(to top, blue, 75%, white); */
    background-size: 20%;
}

.bgmountains.gradient {
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to top, rgba(162, 166, 184, 1), transparent);

    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

img.bgmountains {
    margin-top: auto;
    width: 100%;
    /* height: 50vw; */
    transform: translateY(45%);
    object-fit: scale-down;
}



/* Probably remove the following two... */
img.background-edge {
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 150%;
    position: fixed;
    z-index: 3;
    object-fit: contain;
    object-fit: scale-down;


    /* background-image: url("../../assets/leaves-wall_matteo-miliddi-unsplash.jpeg"); */
    /* background-position: 200% 50%; */
    /* background-repeat: no-repeat; */
    /* background-size: 50%; */
    /* mask-image: linear-gradient(to left, black, 50%, transparent); */

}

.bgmask.edge {
    --mgradient: linear-gradient(to right, black, 18%, rgba(0, 0, 0, 0.7) 20%, 22%, rgba(0, 0, 0, 0.2) 24%, 26%, transparent 32%, transparent);
    padding: 0;
    margin: 0;
    width: 50vw;
    height: 100vh;
    position: fixed;
    z-index: -1;

    mask-image: var(--mgradient);
    mask-size: 100% 100%;
    -webkit-mask-image: var(--mgradient);
    /* mask-position: center, right; */
    mask-repeat: no-repeat;
    /* overflow-x: hidden; */
    /* contain: strict; */
}

/* Containers, Headers */
/* 
h1,
h2,
a { */
/* color: var(--text-color); */
/* font-weight: 300;
} */

/* .main { */
/* margin: 0px 16px; */
/* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5vw; */

/* background-image: url("../../assets/leaves-wall_matteo-miliddi-unsplash.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 25% 25%; */
/* width: 100%; */
/* } */

.main .header {
    text-align: center;
    /* align-self: center; */
    margin: 2rem 0;
}

/* .main>.content {
    width: 80%;
    max-width: 900px;
} */

/* .main  hr {
    width: 80vw;
    max-width: 700px; */
/* color: var(--grey-m); */
/* background: var(--grey-m); */
/* } */

.main h1 {
    text-align: center;
}

/* .main .link {
    color: rgb(155, 190, 255);
} */

.main .link span {
    font-style: italic;
}

/* 
.main .link:hover {
    color: rgb(170, 200, 255);
} */


/* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5ba13;
    background-image: linear-gradient(to right, rgba(var(--red-p), 0.7), 2%, rgba(var(--orange-p), 0.6), 25%, rgba(var(--yellow-p), 0.8) 55%, rgba(var(--green-p), 0.85) 75%, 93%, rgba(var(--indigo-p), .90)), url("https://www.transparenttextures.com/patterns/diagmonds.png");
    
    background-size: cover;
    
    margin: auto 0;
    margin-bottom: 2rem;
    padding: 16px 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
} */


/* Pages */

/* .page-title {
    margin-bottom: 2rem;
} */


/* Navbar */
/* .MuiAppBar-root .MuiLink-root:hover {
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;

} */

/* Resource Cards */

.resource-card.card,
.resource-card.card.media .content {
    padding: .75rem;
    border-radius: .4rem;
}

.resource-card.card.media.MuiCard-root {
    padding: 0;
    display: flex;
}

.resource-card.skeleton .MuiSkeleton-root {
    margin: 1rem,
}

.resource-card.book .MuiCardMedia-root {
    margin: 1rem;
}

.card .MuiCardContent-root {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.MuiCard-root.resource-card.skeleton .content {
    padding: 1.5rem;
}


/* Forms */

/* CREATE POST/COMPOSE */

.post-form {
    display: flex;
    flex-direction: column;
    max-width: 80vw;

    width: 800px;
}

.post-form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

.post-form>* {
    /* width: 100%; */
    margin: 10px 0;
}

.post-form .btn-group>* {
    margin-right: 10px;
}


/* BLOG */



/* POSTS */

/* 
.post.card {
    margin: 2.5rem 0;
} */

.post-header {
    display: flex;
    align-items: baseline;
}

.post-header.fullpage {
    flex-direction: column;
}

.post-header span {
    margin-left: auto;
}

.post-header h1 {
    margin-bottom: 0;
}

.post-header h2 {
    margin-bottom: .5rem;
}

.post.card .link {
    text-decoration: none;
}