[data-theme='light'],
[data-theme='light'] body {
    color: #000;
}

[data-theme='light'] .bg-color {
    background: #fcfdfc;
}

[data-theme='dark'],
[data-theme='dark'] body {
    color: #efefef;
}

[data-theme='dark'] .bg-color {
    background: #00100b;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

p {
    margin: 1.4rem 0;
}

body {
    padding: 0;
    margin: 0 !important;
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}


/* Backgrounds */

.bg.pattern {
    background-image:
        /* url("https://www.transparenttextures.com/patterns/rice-paper-2.png"); */
        url("https://dgsacbpbvk2fr.cloudfront.net/static/light-paper-fibers.png");
    background-size: 350px;
}

img.bgmountains {
    margin-top: auto;
    width: 100%;
    /* height: 50vw; */
    /* transform: translateY(45%); */
    /* object-fit: scale-down; */
}


.bgmountains {
    background-image:
        url('../../assets/green-gold-abstract-mountains_transparent-crop.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    background-attachment: local;

}


/* Containers, Headers */

.main h1 {
    text-align: center;
    background-color: #00100b89;
}

.main .link span {
    font-style: italic;
}

/* PAGES */

/* --Home-- */


/* .MuiBox-root.gallery-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    border-width: 5px !important;
    border-color: grey !important;
    border-radius: .4rem;
    padding: 2rem;
    overflow-x: scroll;
} */


/* .home-headerhero-mask {

    --mgradient: linear-gradient(to left, black, rgba(0, 0, 0, 0.7), transparent, transparent);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    mask-image: var(--mgradient);
    mask-size: 100% 100%;
    -webkit-mask-image: var(--mgradient);
    mask-position: center, right;
    mask-repeat: no-repeat;
} */

/* .page-title {
    margin-bottom: 2rem;
} */

/* --Resource full pages-- */
/* 
.book-cover {
aspect-ratio: 1.6;

} */


/* Resource Cards */

.resource-card.card,
.resource-card.card.media .content {
    padding: .75rem;
    border-radius: .4rem;
}

.resource-card.card.media .gallery {
    padding: 1.25rem;
}

.resource-card.card.media.MuiCard-root {
    padding: 0;
    display: flex;
}

.resource-card.skeleton .MuiSkeleton-root,
.resource-card.book .MuiCardMedia-root {
    margin: 1rem,
}

.card .MuiCardHeader-root {
    padding-bottom: .5rem;
}

.card .MuiCardContent-root {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.card .MuiTypography-root:last-child {
    margin-bottom: 0;
}

.MuiCard-root.resource-card.skeleton .content {
    padding: 1.5rem;
}


/* Forms */

/* --Contact-- */

.contactform .MuiTextField-root {
    width: 100%;
}



/* POSTS */

.post-header span {
    margin-left: auto;
}

.post-header h1 {
    margin-bottom: 0;
}

.post.card .link {
    text-decoration: none;
}