[data-theme='light'],
[data-theme='light'] body {
    color: #000;
}

[data-theme='light'] .bg-color {
    background: #fcfdfc;
}

[data-theme='dark'],
[data-theme='dark'] body {
    color: #efefef;
}

[data-theme='dark'] .bg-color {
    background: #00100b;
}

* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0;
    /* font-family: "Helvetica", sans-serif; */
    /* width: 100%; */
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

p {
    margin: 1.4rem
}

body {
    padding: 0;
    margin: 0 !important;
}


/* Backgrounds */

.bg.pattern {
    background-image:
        /* url("https://www.transparenttextures.com/patterns/rice-paper-2.png"); */
        url("https://dgsacbpbvk2fr.cloudfront.net/static/light-paper-fibers.png");
    background-size: 350px;
}

/* 
.bgmountains.gradient {
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to top, rgba(162, 166, 184, 1), transparent);

    background-repeat: no-repeat;
    /* background-attachment: fixed; */
/*} */

img.bgmountains {
    margin-top: auto;
    width: 100%;
    /* height: 50vw; */
    /* transform: translateY(45%); */
    /* object-fit: scale-down; */
}


.bgmountains {
    background-image:
        url('../../assets/green-gold-abstract-mountains_transparent-crop.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    background-attachment: local;

}


/* Probably remove the following two... */

/* .hero.bg {
    /* background-image: 
    lineargradient(to right, ),
    url("https://picsum.photos/800/400?random=1");

    background-color: var(--forest-green-light);
} */



/* Containers, Headers */

/* 
h1,
h2,
a { */
/* color: var(--text-color); */
/* font-weight: 300;
} */

/* .main { */
/* margin: 0px 16px; */
/* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5vw; */

/* background-image: url("../../assets/leaves-wall_matteo-miliddi-unsplash.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 25% 25%; */
/* width: 100%; */
/* } */

/* .main .header {
    text-align: center;
    /* align-self: center; */
/*    margin: 2rem 0;
} */

/* .main>.content {
    width: 80%;
    max-width: 900px;
} */

/* .main  hr {
    width: 80vw;
    max-width: 700px; */
/* color: var(--grey-m); */
/* background: var(--grey-m); */
/* } */

.main h1 {
    text-align: center;
    background-color: #00100b89;
}

.main .link span {
    font-style: italic;
}

/* PAGES */

/* --Home-- */

/* .home-header-image {
    width: 100%;
    object-fit: cover;
} */


/* div.gallery-container * {
    scrollbar-width: thin;
    scrollbar-color: transparent;
} */

/* .MuiBox-root.gallery-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    border-width: 5px !important;
    border-color: grey !important;
    border-radius: .4rem;
    padding: 2rem;
    overflow-x: scroll;
} */

/* div.gallery-container *::-webkit-scrollbar {
    width: 25px;
    height: 25px;
} */

/* Track */
/* *::-webkit-scrollbar {
    width: 25px !important;
    height: 25px;

} */

/* Handle */
/* .gallery-container::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-radius: .5rem;
} */

/* Handle on hover */
/* .gallery-container::-webkit-scrollbar-thumb:hover {
    background: #323232;
} */


/* .home-headerhero-mask {

    --mgradient: linear-gradient(to left, black, rgba(0, 0, 0, 0.7), transparent, transparent);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    mask-image: var(--mgradient);
    mask-size: 100% 100%;
    -webkit-mask-image: var(--mgradient);
    mask-position: center, right;
    mask-repeat: no-repeat;
} */

/* .page-title {
    margin-bottom: 2rem;
} */

/* --Resource full pages-- */
/* 
.book-cover {
aspect-ratio: 1.6;

} */


/* Resource Cards */

.resource-card.card,
.resource-card.card.media .content {
    padding: .75rem;
    border-radius: .4rem;
}

.resource-card.card.media .gallery {
    padding: 1.25rem;
}

.resource-card.card.media.MuiCard-root {
    padding: 0;
    display: flex;
}

.resource-card.skeleton .MuiSkeleton-root,
.resource-card.book .MuiCardMedia-root {
    margin: 1rem,
}

.card .MuiCardHeader-root {
    padding-bottom: .5rem;
}

.card .MuiCardContent-root {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.card .MuiTypography-root:last-child {
    margin-bottom: 0;
}

.MuiCard-root.resource-card.skeleton .content {
    padding: 1.5rem;
}


/* Forms */

/* --Contact-- */

.contactform .MuiTextField-root {
    width: 100%;
    /* margin: 2rem; */
}



/* POSTS */

/* 
.post.card {
    margin: 2.5rem 0;
} */

/* .post-header {
    display: flex;
    align-items: baseline;
}

.post-header.fullpage {
    flex-direction: column;
} */

.post-header span {
    margin-left: auto;
}

.post-header h1 {
    margin-bottom: 0;
}

/* .post-header h2 {
    margin-bottom: .5rem;
} */

.post.card .link {
    text-decoration: none;
}